.footer{
    display: grid;
    grid-template-rows: 1fr;
    font-family: 'Righteous';
    background-color:rgb(22, 21, 20);
    color: white;
    text-align: left;
    padding-top: 10px;
}
.swap{
    text-align: center;
}
