.pages{
    background-color: #FF9D5C;
    font-family: 'Righteous';
    padding: .5em 1em;
}

#basic-navbar-nav{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.navbar-default{
    background-image: none;
    border: none;
    border-radius: 0;
}

@media(max-width: 700px){
    .pages{
        grid-template-areas:
        "contactpage contactpage";
    }
}

@media(max-width: 500px){
    .pages a {
        background-color: #FF9D5C;
        display: block;
        padding: 0.8em 5em;
        text-align: center;
        font-size: .9rem;
    }
    .pages{
        grid-template-areas: 
        "contactpage";
    }
}