.privacy-container{
    background-color: #FF9D5C;
}

.content{
    background-color: #FF9D5C;
    text-align: center;
    font-family: 'Righteous';
}

.privacy-stuff{
    background-color: black;
    opacity: 80%;
    margin: 0 10%;
    border-radius: 10px;
}