html, body {
  /* font-family: 'Righteous'; */
  /* grid-template-rows: 60% 40%; */
  /* background-color: #FF9D5C; */
  scroll-behavior: smooth;
  width:100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    /* font-family: 'Righteous'; */
}
